
<section class="blog-detail mtb-40">
  <div class="container">
  <div class="row">
  <div class="col-md-8">
    <ng-container  *ngIf="router.url=='/places/1'" >   
      <img src="assets/images/Namche.jpg" width="300" height="350" class="align-self-center mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0">Top-aligned media</h5>
        <p>I’m gon’ put her in a coma. You give a hundred reasons why, and you say you're really gonna try. So I sat quietly, agreed politely. Suiting up for my crowning battle. And on my 18th Birthday we got matching tattoos. So très chic, yeah, she's a classic. I am ready for the road less traveled.</p>
        <p>I'm walking on air (tonight). But down to earth. You're original, cannot be replaced. But in another life I would be your girl. We drove to Cali and got drunk on the beach. We can dance, until we die, you and I, will be young forever. Saw you downtown singing the Blues.</p>
      </div>
    
    </ng-container>
    <ng-container  *ngIf="router.url=='/places/2'" >   
      <img src="assets/images/sayngja.jpg" width="300" height="350" class="align-self-center mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0">Top-aligned media</h5>
        <p>I’m gon’ put her in a coma. You give a hundred reasons why, and you say you're really gonna try. So I sat quietly, agreed politely. Suiting up for my crowning battle. And on my 18th Birthday we got matching tattoos. So très chic, yeah, she's a classic. I am ready for the road less traveled.</p>
        <p>I'm walking on air (tonight). But down to earth. You're original, cannot be replaced. But in another life I would be your girl. We drove to Cali and got drunk on the beach. We can dance, until we die, you and I, will be young forever. Saw you downtown singing the Blues.</p>
      </div>
    
    </ng-container>
    <ng-container  *ngIf="router.url=='/places/3'" >   
      <img src="assets/images/swoyambhunath.jpg" width="300" height="350" class="align-self-center mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0">Top-aligned media</h5>
        <p>I’m gon’ put her in a coma. You give a hundred reasons why, and you say you're really gonna try. So I sat quietly, agreed politely. Suiting up for my crowning battle. And on my 18th Birthday we got matching tattoos. So très chic, yeah, she's a classic. I am ready for the road less traveled.</p>
        <p>I'm walking on air (tonight). But down to earth. You're original, cannot be replaced. But in another life I would be your girl. We drove to Cali and got drunk on the beach. We can dance, until we die, you and I, will be young forever. Saw you downtown singing the Blues.</p>
      </div>
    
    </ng-container>
    <ng-container  *ngIf="router.url=='/places/4'" >   
      <img src="assets/images/sayngja.jpg" width="300" height="350" class="align-self-center mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0">Top-aligned media</h5>
        <p>I’m gon’ put her in a coma. You give a hundred reasons why, and you say you're really gonna try. So I sat quietly, agreed politely. Suiting up for my crowning battle. And on my 18th Birthday we got matching tattoos. So très chic, yeah, she's a classic. I am ready for the road less traveled.</p>
        <p>I'm walking on air (tonight). But down to earth. You're original, cannot be replaced. But in another life I would be your girl. We drove to Cali and got drunk on the beach. We can dance, until we die, you and I, will be young forever. Saw you downtown singing the Blues.</p>
      </div>
    
    </ng-container>
  </div>
  
  <div class="col-md-4">

    <app-place-recent></app-place-recent>
    <app-place-categories></app-place-categories>
  </div>
  </div>
  </div>
  
</section>



      
      
      
      
    