<section class=" mtb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/images/Namche.jpg" width="250px" height="300px" alt="...">
                        <h3 class="card-title">Namche Bazar</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a routerLink="/places/1"  class="btn btn-primary">Go Detail..</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="blog-box">
                        <img src="assets/images/sayngja.jpg "  height="300px" alt="...">
                            <h3 class="card-title">Sayngja</h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a routerLink="/places/2"  class="btn btn-primary">Go Detail..</a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="blog-box">
                            <img src="assets/images/swoyambhunath.jpg"  height="300px" alt="...">
                                    <h3 class="card-title">Swoyambhunath</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a routerLink="/places/3" class="btn btn-primary">Go Detail..</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="blog-box">
                                <img src="assets/images/swoyambhunath.jpg"  height="300px" alt="...">
                                        <h3 class="card-title">Swoyambhunath</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up the
                                        bulk of the card's content.</p>
                                    <a routerLink="/places/4"  class="btn btn-primary">Go Detail..</a>
                                </div>
                            </div>
                    </div>
                </div>
            
</section>